.Services {
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.Main-title.Services {
    height: 96px;
    padding-top: 60px;
    margin-left: 10%;
}


.Main-title.Services h2 {
    width: 50%;
    height: 116px;
    font-family: Montserrat;
    font-family: sans-serif;
    color: #F5F5F5;
    font-weight: 700;

    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    text-transform: uppercase;
    }

.Main-title.Services p {
    width: 50%;
    height: 136px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: none;
    line-height: 43px;
    margin-top: 30px;
    margin-left: 650px;
    font-weight: 400;
    min-width: 40%;
    letter-spacing: 0em;
}

.Services-red-text {
    font-weight: 700;
    color: red;
}

.Services-boxes {
    display: flex;
    justify-content: center;
    margin-top: 210px;
}

.Services-boxes h3 {
    font-size: 48px; 
    text-align: left;  
    font-family: Montserrat;
    text-transform: uppercase;
    margin: 40px 40px 68px 80px;
}

.Services-boxes ul {
    list-style: none;
    font-size: 32px;
    padding-right: 5%;
    text-transform: uppercase;
    text-align: left;
    font-family: Montserrat;
}

.Services-boxes ul li {
    padding: 0 0 20px 110px;
}

.Development-box {
    height: 685px;
    width: 30%;
}

.Design-box {
    height: 551px;
    width: 30%;

}

.box {
    margin-left: 10%;
    margin-right: 10px;
    border-radius: 40px;
    border: 1px solid black;
    width: 40%;
    overflow-wrap: break-word;
    height: auto;
}
.button-services{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.box img {
    margin-top: 69px;
}
@media only screen  and (max-width: 786px){
    .Services {
        margin-top: 60%;
        width: 100%;
    }
    
    .Main-title.Services {
        height: 32px;
        width: 100%;
        margin-left: 0%;
        margin-right: 2%;
        font-size: 38px;
    }
    .Main-title.Services h2 {
        margin-left: 5%;
        width: 90%;
        }
    .Main-title.Services p {
        margin-top: 50%;
        margin-left: 5%;
        overflow-wrap: normal;
        font-weight: 400;
        letter-spacing: 0em;
        width: 90%;
    }

    
    .Services-boxes {
        display: grid;
        justify-content: center;
        margin-top: 110%;
        margin-left: 5%;
        width: 90%;
    }
    
    .Services-boxes h3 {
        font-size: 26px; 
        text-align: left;  
        font-family: Montserrat;
        text-transform: uppercase;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5%;
    }
    
    .Services-boxes ul {
        list-style: none;
        font-size: 22px;
        text-transform: uppercase;
        text-align: left;
        font-family: Montserrat;
    }
    
    .Services-boxes ul li {
        padding: 0 15% 5% 15%;
    }
    
    .Development-box {
        width: 50%;
        height: auto;
        margin-bottom: 10%;
    }
    
    .Design-box {
        height: auto;
        width: 70%;
        margin-bottom: 10%;

    }
    
    .box {
        margin-left: 0%;
        border-radius: 40px;
        border: 1px solid black;
        width: 100%;
        height: auto;
    }
    .button-services{
        width: 80%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .box img {
        margin-top: 15%;
        width: 100%;
        margin-bottom: 10%;
    }
    
}