.about-graciano{
    top: 1219px;
    background-color: #f5f5f5;
    height: 1541px;
    left: 102px;
    top: 120px;
}
.title-about{
    position: absolute;
    width: 1000px;
    height: 171px;
    left: 230px;
    top:1740px;
    text-transform: uppercase;
    text-shadow: 1px 0 #FFB800, -1px 0 #FFB800, 0 1px #FFB800, 0 -1px #FFB800,
    1px 1px #FFB800, -1px -1px #FFB800, 1px -1px #FFB800, -1px 1px #FFB800;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
}
.graciano-text-about{
    position: absolute;
    width: 608px;
    height: 258px;
    left: 240px;
    top: 1915px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */

    display: flex;
    align-items: center;

    color: #181818;
}
.graciano-text-about-sec{
    position: absolute;
    width: 608px;
    height: 258px;
    left: 240px;
    top: 2265px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.mobile-img-sec{
    margin-left: 979px;
    margin-top: -900px;
    height: 1078px;
}
.mobile-img{
    margin-left: 979px;
    padding-top: 0px;

}
.grid-container-graciano{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 1900px;
    width: 350px;

}
.grid-item-graciano{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    width: 360px;
}

.grid-container-graciano-sec{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 40px;
    width: 350px;
}
.grid-item-graciano-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.grid-graciano-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 410px;
    
}
.grid-text-grac{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.bigger-text{
    font-weight: 800;
}