.banner-graciano{
    background-color: #181818;  
    width: 100%;
    height: 675px;
    right: 0px;
    left: 0px;
    top: 15%;
    text-align: center;
    position: absolute;
}
.graciano-title{
    position: absolute;
    width: 50%;
    height: 171px;
    left: 25%;
    right: 25%;
    margin-top: 340px;
    text-transform: uppercase;
    text-shadow: 1px 0 #FFB800, -1px 0 #FFB800, 0 1px #FFB800, 0 -1px #FFB800,
    1px 1px #FFB800, -1px -1px #FFB800, 1px -1px #FFB800, -1px 1px #FFB800;
    font-family: 'Montserrat', sans-serif;
    color: #181818;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    margin-bottom: 40pt;
}
.graciano-title-sec{
    position: absolute;
    width: 32%;
    height: 38px;
    left: 34%;
    align-items: center;
    top: 528px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
}
.img-grac{
    margin-top: 601px;
    width: 80%;
    left: 10%;
    right: 10%;
}
@media only screen and (max-width: 1200px) {
    .graciano-title{
        font-size: 90px;
    }
}
@media only screen  and (max-width: 1000px){
    .banner-graciano{
        background-color: #181818;  
        width: 100%;
        height: 70%;
        right: 0px;
        left: 0px;
        top: 13%;
        text-align: center;
        position: absolute;
    }
    .graciano-title{
        position: absolute;
        width: 60%;
        height: 171px;
        left: 20%;
        right: 20%;
        margin-top: 10%;
        font-size: 54px;
    }
    .graciano-title-sec{
        width: 50%;
        left: 25%;
        top: 40%;
    }
    .img-grac{
        margin-top: 45%;
        width: 80%;
        left: 10%;
        right: 10%;
    }    
}
@media only screen  and (max-width: 750px){
    .banner-graciano{
        top: 30%;
        height: 60%;
        position: absolute;
        width: 100%;
    }
    .graciano-title{
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        margin-top: 20%;
        font-size: 40px;
        
    }
    .graciano-title-sec{
        width: 80%;
        left: 10%;
        top: 43%;
        font-size: 20px;
        justify-content: center;
    }
    .img-grac{
        margin-top: 60%;
        width: 80%;
        height: auto;
        left: 10%;
        right: 10%;
    }    
}
@media only screen  and (max-width: 486px){
    .banner-graciano{
        top: 30%;
        height: 60%;
        position: absolute;
        width: 100%;
    }
    .graciano-title{
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        margin-top: 20%;
        font-size: 40px;
        
    }
    .graciano-title-sec{
        width: 80%;
        left: 10%;
        top: 50%;
        font-size: 20px;
        justify-content: center;
    }
    .img-grac{
        margin-top: 85%;
        width: 80%;
        height: auto;
        left: 10%;
        right: 10%;
    }    
}