.solution{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 4735px;
}
.solution-title{
    position: absolute;
    width: 30%;
    height: 101px;
    left: 10%;
    right: 70%;
    top: 2%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #FFB800;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
}
.solution-text-first{
    position: absolute;
    width: 40%;
    height: 258px;
    left: 10%;
    top: 287px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */

    display: flex;
    align-items: center;

    color: #181818;
}
.solution-text-second{
    position: absolute;
    width: 40%;
    height: 215px;
    left: 50%;
    top: 609px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #181818;
}
.grid-container-solution{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 700pt;
}
.grid-item-solution{
    display: inline-grid;
    top: 40px;
    margin-left: 5%;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 883px;
    align-items: center;
    justify-content: left;
    width: 40%;
    margin-bottom: 10%;
}
.mac{
    margin-left: 0%;
    width: 80%;
}
.commas{
    left:48%;
    top: 3686px;
    position: absolute;
}
.solution-text-third{
    position: absolute;
    width: 35%;
    height: 171.56px;
    left: 48%;
    top: 3750.81px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.coolGrac{
    left: 48%;
    top: 3953.29px;
    position: absolute;

}
.coolGrac-text{
position: absolute;
width: 282px;
height: 42.89px;
left: 56%;
top: 3953.29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 180%;
display: flex;
align-items: center;
color: #181818;
}
.coolGrac-text-sec{ 
    position: absolute;
    width: 224px;
    height: 42.89px;
    left: 56%;
    top: 3910px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
    text-transform: uppercase;
    text-decoration: underline;
}
@media only screen and (max-width: 1500px) {
        .solution{
            top: 4335px;
        }
        .solution-title{
            top: 0%;
            font-size: 48px;
            text-align: left;
            margin-bottom: 40pt;
        }
        .solution-text-first{
            position: absolute;
            width: 80%;
            left: 10%;
            top: 25%;
        }
        .solution-text-second{
            position: absolute;
            width:80%;
            height: 215px;
            left: 10%;
            margin-top: -10%;
    }
    .grid-container-solution{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-left: 0%;
        text-align: center;
        margin-top: 80%;
    }
    .grid-item-solution{
        display: inline-grid;
        top: 40px;
        margin-left: 20%;
        width: 40%;
    }
    .mac{
        margin-left: 0%;
        width: 80%;
    }
    .commas{
        left:48%;
        top: 5386px;
        position: absolute;
    }
    .solution-text-third{
        position: absolute;
        width: 35%;
        height: 171.56px;
        left: 48%;
        top: 5466px;

    }
    .coolGrac{
        left: 43%;
        top: 5696px;
        position: absolute;
    
    }
    .coolGrac-text{
    position: absolute;
    width: 282px;
    height: 42.89px;
    left: 56%;
    top: 5696px;

    }
    .coolGrac-text-sec{ 
        width: 224px;
        height: 42.89px;
        left: 56%;
        top: 5736px;

    }
}
@media only screen and (max-width: 786px) {
    .solution{
        top: 5035px;
    }
    .solution-title{
        top: 0%;
        font-size: 48px;
        text-align: left;
        margin-bottom: 40pt;
    }
    .solution-text-first{
        position: absolute;
        width: 80%;
        left: 10%;
        top: 50%;
    }
    .solution-text-second{
        position: absolute;
        width:80%;
        height: 215px;
        left: 10%;
        margin-top: 120%;
}
.grid-container-solution{
    display: none
}
.mac{
    margin-left: 0%;
    width: 80%;
    margin-top: 350%;
}
.commas{
    display: none;
}
.solution-text-third{
    display: none;

}
.coolGrac{
    display: none;
}
.coolGrac-text{
    display: none;
}
.coolGrac-text-sec{ 
    display: none;
}
}

