.solution{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 4735px;
}
.solution-title{
    position: absolute;
    width: 30%;
    height: 101px;
    left: 10%;
    right: 70%;
    top: 2%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #FFB800;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
}
.solution-text-first{
    position: absolute;
    width: 40%;
    height: 258px;
    left: 10%;
    top: 287px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */

    display: flex;
    align-items: center;

    color: #181818;
}
.solution-text-second{
    position: absolute;
    width: 40%;
    height: 215px;
    left: 50%;
    top: 609px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #181818;
}
.grid-container-solution{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 700pt;
}
.grid-item-solution{
    display: inline-grid;
    top: 40px;
    margin-left: 5%;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    align-items: center;
    justify-content: left;
    width: 40%;
    margin-bottom: 10%;
}
.iphone{
    width: 608px;
    height: 883px;
}

.mac{
    margin-left: 0%;
    width: 80%;
}
.commas{
    left:48%;
    top: 3686px;
    position: absolute;
}
.solution-text-third{
    position: absolute;
    width: 35%;
    height: 171.56px;
    left: 48%;
    top: 3750.81px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.coolGrac{
    left: 48%;
    top: 3953.29px;
    position: absolute;

}
.coolGrac-text{
position: absolute;
width: 282px;
height: 42.89px;
left: 56%;
top: 3953.29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 180%;
display: flex;
align-items: center;
color: #181818;
}
.coolGrac-text-sec{ 
    position: absolute;
    width: 224px;
    height: 42.89px;
    left: 56%;
    top: 3910px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
    text-transform: uppercase;
    text-decoration: underline;
}
@media only screen and (max-width: 1560px) {
    .grid-container-solution{
        margin-left: 5%;
    }
}
@media only screen and (max-width: 1400px) {
    .grid-container-solution{
        margin-left: 5%;
        justify-content: center;
        
    }
    
.commas{
    left:40%;
    top: 3686px;
    position: absolute;
}
.solution-text-third{
    position: absolute;
    width: 35%;
    height: 171.56px;
    left: 48%;
    top: 3750.81px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.coolGrac{
    left: 40%;
    top: 3953.29px;
    position: absolute;

}
.coolGrac-text{
position: absolute;
width: 282px;
height: 42.89px;
left: 52%;
top: 3993.29px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 180%;
display: flex;
align-items: center;
color: #181818;
}
.coolGrac-text-sec{ 
    position: absolute;
    width: 224px;
    height: 42.89px;
    left: 52%;
    top: 3950px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
    text-transform: uppercase;
    text-decoration: underline;
}
    
}
@media only screen and (max-width: 1000px) {
        .solution{
            top: 4435px;
        }
        .solution-title{
            top: 0%;
            font-size: 56px;
            text-align: left;
            left: 5%;
            margin-bottom: 40pt;
        }
        .solution-text-first{
            position: absolute;
            width: 90%;
            left: 5%;
            top: 15%;
            font-size: 20px;
        }
        .solution-text-second{
            position: absolute;
            width:90%;
            font-size: 20px;
            height: 215px;
            left: 5%;
            top: 45%;
    }
    .grid-container-solution{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        text-align: center;
        margin-top: 500pt;
    }
    .grid-item-solution{
        display: inline-grid;
        top: 40px;
        width: 308;
        height: 883;
        margin-left: 5%;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 883px;
        align-items: center;
        justify-content: left;
        width: 40%;
        margin-bottom: 10%;
    }

    .mac{
        margin-left: 0%;
        width: 80%;
        top: 10%;
    }
    .commas{
        left:25%;
        top: 5286px;
        position: absolute;
    }
    .solution-text-third{
        position: absolute;
        width: 70%;
        height: 171.56px;
        left:25%;
        top: 5366px;

    }
    .coolGrac{
        left:25%;
        top: 5590px;
        position: absolute;
    
    }
    .coolGrac-text{
    position: absolute;
    width: 282px;
    height: 42.89px;
    left:45%;
    top: 5596px;

    }
    .coolGrac-text-sec{ 
        width: 224px;
        height: 42.89px;
        left:45%;
        top: 5636px;

    }
}
@media only screen and (max-width: 486px) {
    .solution{
        top: 3635px;
    }
    .solution-title{
        top: 0%;
        font-size: 32px;
        left: 5%;
        text-align: left;
        margin-bottom: 40pt;
    }
    .solution-text-first{
        position: absolute;
        width: 90%;
        font-size: 16px;
        left: 5%;
        top: 15%;
    }
    .solution-text-second{
        position: absolute;
        width:90%;
        height: 215px;
        left: 5%;
        font-size: 16px;
        margin-top: 30%;
}
.grid-container-solution{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 0%;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 80%;
}
.grid-item-solution{
    display: inline-grid;
    top: 40px;
    margin-left: 20%;
    width: 40%;
}
.iphone{
    width: 208px;
    height: 283px;
}
.mac{
    margin-left: 0%;
    width: 80%;
    margin-top: 120%;
    margin-bottom: 10%;
}
.commas{
    left: 5%;
    top: 145%;
}
.solution-text-third{
    left: 5%;
    top: 150%;
    width: 90%;
    font-size: 16px;
}
.coolGrac{
    height: 62px;
    width: 62px;
    left: 5%;
    top: 177%;}
.coolGrac-text{
    left: 27%;
    font-size: 20px;
    top: 177%;}
.coolGrac-text-sec{ 
    left: 27%;
    font-size: 20px;
    top: 180%;}
}

