.form{    
    position: absolute;
    width: 1440px;
    height: 2199px;
    left: 0px;
    top: 216px;
    background: #F4F4F4;
}
.form-main-title{
    margin-top: 80px;
    position: absolute;
    width: 488px;
    height: 117px;
    left: 43%;
    color: #F5F5F5;    
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;

    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
}
.red-part{
    color: #FF4747;
    margin-left: 34px;
    text-shadow: 1px 0 #FF4747, -1px 0 #FF4747, 0 1px #FF4747, 0 -1px #FF4747,
    1px 1px #FF4747, -1px -1px #FF4747, 1px -1px #FF4747, -1px 1px #FF4747;
}
.help-title{
    width: 452px;
    height: 29px;
    margin-top: 317px;
    margin-left: 45%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #181818;
    text-transform: uppercase;
}
.buttons-first-row{
    margin-top: 76px;
    
}
.buttons-first-row a{
    margin-top: 76px;
    text-decoration: none;
    
}
.grey-button-first{
    display: flex;
    margin-left: 30%;
    align-items: center;
    flex-direction: row;
    padding: 12px 40px;
    gap: 10px;
    width: 210px;
    height: 67px;
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(10, 35, 50, 0.1);
    border-radius: 24px;
    
}
.red-button-first{
    display: flex;
    margin-top: -68px;
    margin-left: 46%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 294px;
    height: 67px;
    background: #FF4747;
    border: 1px solid #FF4747;
    font-weight: 600;
    font-size: 24px;
    color: #EBEBEB;
    border-radius: 24px;
}
.grey-button-second{
    display: flex;
    margin-left: 68%;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    margin-top: -68px;
    gap: 10px;
    width: 179px;
    height: 67px;
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(10, 35, 50, 0.1);
    border-radius: 24px;
}
.grey-button-third{
    display: flex;
    margin-left: 82%;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    margin-top: -68px;
    gap: 10px;
    width: 105px;
    height: 67px;
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(10, 35, 50, 0.1);
    border-radius: 24px;
}
.grey-button-fourth{
    display: flex;
    margin-left: 38%;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    margin-top: 40px;
    gap: 10px;
    width: 149px;
    height: 67px;
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(10, 35, 50, 0.1);
    border-radius: 24px;
}
.red-button-second{
    display: flex;
    margin-top: -67px;
    margin-left: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    width: 212px;
    height: 67px;
    background: #FF4747;
    border: 1px solid #FF4747;
    font-weight: 600;
    font-size: 24px;
    color: #EBEBEB;
    border-radius: 24px;
}
.grey-button-fifth{
    display: flex;
    margin-left: 66%;
    flex-direction: row;
    align-items: center;
    padding: 12px 40px;
    margin-top: -67px;
    gap: 10px;
    width: 187px;
    height: 67px;
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(10, 35, 50, 0.1);
    border-radius: 24px;
}
.form-container {
    width: 70%;
    height: 737px;
    background-color: #EBEBEB;
    margin-left: 25%;
    margin-top: 178px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding-left: 135px;
    padding-top: 229px;
    padding-right: 165px;
    border-radius: 100px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;

  }
  
  .form-field {
    padding: 15px;
    font-size: 16px;
    border: 0;
    height: 85px;
    width: 706px;
    font-weight: 600;
    background: #EBEBEB;
    font-family: "Montserrat", sans-serif;
  }

  input {
    border-bottom: #181818;
    color: #181818;
}

  .form-btn{
    background-color: #FF4747;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    color: #FAFAFA;
    position: absolute;
    width: 50%;
    height: 88px;
    left: 28%;
    top: 1324px;
    margin-left: 94px;
    border-radius: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    border: 1px solid #FF4747;
  }
.form-title{
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    position: absolute;
    width: 418px;
    height: 29px;
    left: 45%;
    top: 802px;
    padding-top: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #181818;
}
.icons {
    margin-bottom: 30px;
    position: absolute;
    color: #000000;
}
.ig{
    height: 29.33333396911621px;
    width: 29.33333396911621px;
    margin-left: 1080px;
    margin-top: 415px;
    background-color: #EBEBEB;
}
.fb{
    height: 29.33333396911621px;
    position: absolute;
    margin-left: 1191px;
    margin-top: -30px;
}
.be{
    height: 29.33333396911621px;
    margin-top: -20px;
    margin-left: 1288px;
    width: 31px;
}
.lin{
    height: 29.33333396911621px;
    margin-top: -33px;
    margin-left: 1390px;
}

.ytb{
    margin-top: -25px;
    margin-left: 1080px;
}
.sth{
    margin-left: 1288px;
    margin-top: -25px;
}
.icons-title{ 
    position: absolute;
    width: 105px;
    height: 58px;
    margin-left: 1190px;
    margin-top: 330px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.email-title{ 
    position: absolute;
    width: 105px;
    height: 58px;
    margin-left: 277px;
    margin-top: 330px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;
}
.email-address{
    position: absolute;
    width: 228px;
    height: 43px;
    left: 230px;
    margin-top: 400px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin-left: 550px;
}
.image-upload{
    margin-top: -60px;
    margin-left: 100px;
}