.good-work{
    position: absolute;
    width: 100%;
    height: 1312px;
    top: 2929px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
}
.good-work-title{
    width: 917px;
    height: 117px;
    display: flex;
    margin-left: 240px;
    margin-top: 20px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
}
.text-good-work{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-left: 365px;
    margin-right: 122px;
    height: 129px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 953px;
}
.grid-container-good-work {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-left: 200px;
    margin-right: 163px;
    text-align: center;
}
.grid-item-good-work{
    display: inline-grid;
    background-color: #F5F5F5;
    text-align: center;
    height: 329px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    width: 280px;
}
.text-grid-good-work{
    height: 117px;
    align-items: center;
    flex: none;
    text-shadow: 1px 0 #FF4747, -1px 0 #FF4747, 0 1px #FF4747, 0 -1px #FF4747,
             1px 1px #FF4747, -1px -1px #FF4747, 1px -1px #FF4747, -1px 1px #FF4747;

    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    margin-left: 80px;
}
.grid-container-good-work-second{
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align:center;
    margin-left: 187px;
    margin-right: 163px;
    margin-top: -100px;
    align-items: center;
    text-align: center;
    font-weight: 400;
    color: #181818;
    line-height: 180%;
}

.grid-item-good-work-second{
    display: inline-grid;
    background-color: #F5F5F5;
    width: 280px;
    display: flex;
    align-items: center;

}

/*145*/