.good-work{
    position: relative;
    width: 100%;
    height: 1312px;
    top:2729px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;

}
.good-work-title{
    width: 917px;
    height: 117px;
    display: flex;
    margin-left: 7%;
    margin-top: 20px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
}
.text-good-work{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-left: 40%;
    margin-right: 122px;
    height: 129px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 60%;
}
.grid-container-good-work {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-left: 25%;
    margin-right: 163px;
    text-align: center;
}
.grid-item-good-work{
    display: inline-grid;
    background-color: #F5F5F5;
    text-align: center;
    height: 329px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    width: 280px;
}
.text-grid-good-work{
    height: 117px;
    align-items: center;
    flex: none;
    text-shadow: 1px 0 #FF4747, -1px 0 #FF4747, 0 1px #FF4747, 0 -1px #FF4747,
             1px 1px #FF4747, -1px -1px #FF4747, 1px -1px #FF4747, -1px 1px #FF4747;

    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    margin-left: 80px;
}
.grid-container-good-work-second{
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align:center;
    margin-left: 23%;
    margin-right: 163px;
    margin-top: -100px;
    align-items: center;
    text-align: center;
    font-weight: 400;
    color: #181818;
    line-height: 180%;
}

.grid-item-good-work-second{
    display: inline-grid;
    background-color: #F5F5F5;
    width: 280px;
    display: flex;
    align-items: center;

}
.mezera-good-work{
    margin-top: 40px;
}
@media only screen and (max-width: 1560px) {
    .good-work-title{
        height: 117px;
        display: flex;
        margin-left: 7%;
        font-size: 86px;
    }
    
}
@media only screen and (max-width: 1300px) {
    .good-work{
        top:2529px;
    }
    .good-work-title{
        height: 117px;
        display: flex;
        margin-left: 7%;
        font-size: 76px;
    }
    .mezera-good-work{
        margin-top: 80px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .good-work{
        top:2029px;
    }
    .good-work-title{
        width: 95%;
        height: 56px;
        margin-left: 5%;
        font-size: 48px;
        line-height: 50px;
        text-align: left;
        margin-bottom: 40pt;
    }
    .text-good-work{
        position:relative;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        margin-left: 5%;
        margin-right: 0px;
        height: 174px;
        font-weight: 400;
        font-size: 24px;
        text-align: left;
        line-height: 180%;
        color: #181818;
        width: 90%;
        margin-top: 10%;
    }
    .grid-container-good-work {
        /*grid: auto-flow dense / repeat(3, 180px);*/
        display: grid;
        padding: 0pt;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        text-align: center;
        margin-left: 7%;
        width: 93%;
        margin-right: 163px;
        text-align: center;
    }
    .grid-item-good-work{
        display: inline-grid;
        background-color: #F5F5F5;
        text-align: center;
        height: 329px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        width: 25%;
    }
    .text-grid-good-work{
        height: 117px;
        align-items: center;
        flex: none;
        text-shadow: 1px 0 #FF4747, -1px 0 #FF4747, 0 1px #FF4747, 0 -1px #FF4747,
                 1px 1px #FF4747, -1px -1px #FF4747, 1px -1px #FF4747, -1px 1px #FF4747;
    
        font-family: 'Montserrat', sans-serif;
        color: #F5F5F5;
        font-weight: 700;
        font-size: 48px;
        display: flex;
        margin-left: 80px;
    }
    .grid-container-good-work-second{
        /*grid: auto-flow dense / repeat(3, 180px);*/
        display: grid;
        padding: 0pt;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 18px;
        text-align:center;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: -100px;
        align-items: center;
        text-align: center;
        font-weight: 400;
        color: #181818;
        width: 95%;
        line-height: 180%;
    }
    
    .grid-item-good-work-second{
        display: inline-grid;
        background-color: #F5F5F5;
        width: 100%;
        display: flex;
        margin-right: 5%;
        margin-left: 10%;
        align-items: center;
    
    }
    .mezera-good-work{
        margin-top: 40px;
    }
}
/*145*/
@media only screen and (max-width: 786px){

.mezera-good-work{
    height: 10%;
}
}
@media only screen and (max-width: 486px){
    .good-work{
        width: 100%;
        top: 2239px;
    }
    .good-work-title{
        width: 100%;
        height: 43px;
        line-height: 43px;
        margin-left: 5%;
        text-align: left;
        font-size: 36px;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .text-good-work{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
        height: auto;
        text-align: left;
        line-height: 28px;
        width: 90%;
        font-size: 16px;
    }
    .grid-container-good-work {
        /*grid: auto-flow dense / repeat(3, 180px);*/
        display: grid;
        padding: 0pt;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        text-align: center;
        margin-left: 15%;
        width: 70%;
        text-align: center;
    }
    .grid-item-good-work{
        display: inline-grid;
        background-color: #F5F5F5;
        text-align: center;
        height: 250px;
        display: flex;
        align-items: center;
        margin-right: 0;
        text-align: center;
        margin-left: 0px;
        width: 100%;
    }
    .text-grid-good-work{
        height: 117px;
        align-items: center;
        flex: none;
        text-shadow: 1px 0 #FF4747, -1px 0 #FF4747, 0 1px #FF4747, 0 -1px #FF4747,
                 1px 1px #FF4747, -1px -1px #FF4747, 1px -1px #FF4747, -1px 1px #FF4747;
    
        font-family: 'Montserrat', sans-serif;
        color: #F5F5F5;
        font-weight: 700;
        font-size: 48px;
        display: flex;
        margin-left: 40%;
    }
    .grid-container-good-work-second{
        /*grid: auto-flow dense / repeat(3, 180px);*/
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-left: 8%;
        margin-right: 10%;
        width: 80%;
        text-align: center;
        margin-top: -590px;
        font-weight: 400;
        line-height: 180%;
        
    }
    
    .grid-item-good-work-second{
        display: inline-grid;
        background-color: #F5F5F5;
        width: 100%;
        height: 100px;
        margin-bottom: 150px;
        display: flex;
        align-items: center;
        font-size: 16px;
    
    }
    .mezera-good-work{
        height: 0%;
    }
    
}