.meet-us{
    position: absolute;
    height: 1851px;
    width: 1440px;
    left: 0px;
    top: 140px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
}
.meet-us-title{
    width: 647px;
    height: 117px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 240px;
    margin-top: 20px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-meet-us{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-left: 240px;
    margin-right: 265px;
    height: 129px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 1073px;
}
.meet-us-pic{
    position: absolute;
    margin-left: 240px;
    margin-top: 70px;
}

.grid-container-meet-us {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-top: 600px;
    margin-left: 553px;
    margin-right: 390px;
    text-align: center;

  }
.grid-item-meet-us{
    display: inline-grid;
    background-color: #F5F5F5;
    text-align: center;
    width: 280px;
    display: flex;
    align-items: center;
    text-align: center;


}
.text-grid{
    height: 117px;
    align-items: center;
    flex: none;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
}
.grid-container-meet-us-second {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-right: 390px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    text-align:center;
    margin-left: 553px;
  }
  .grid-item-meet-us-second{
    display: inline-grid;
    background-color: #F5F5F5;
    width: 280px;
    display: flex;
    align-items:center;
}
.story-of-creation{
    width: 835px;
    height: 117px;
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-top: 100px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 60pt;
    margin-top: 140px;
}
.mezera-meet-us{
    width: auto;
    height: 50px;
}
.websites-text{
    margin-left: -20px ;
}
.clients-text{
    margin-left: 40px;
}
.years-text{
    margin-left: -60px;
}
@media only screen and (max-width: 786px){
    .meet-us{
        height: 1851px;
        width: 100%;
        left: 0px;
        top: 40%;
        display:flexbox;
        align-items: center;
        font-display:inherit;
        background: #F5F5F5;
    }
    .meet-us-title{
        width: 90%;
        height: 96px;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 68px;
    }
    
    .text-meet-us{
        margin-left: 10%;
        margin-right: 0%;
        width: 90%;
        overflow-wrap: normal;
    }
    .meet-us-pic{
        display: none;
    }
    
    .grid-container-meet-us {
        /*grid: auto-flow dense / repeat(3, 180px);*/
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-top: 250px;
        margin-left: 35%;
        margin-right: 15%;
      }
    .grid-item-meet-us{
        width: 50%;
        margin-bottom: 10%;
    }
    .grid-item-meet-us-sec{
        margin-left: 25%;
    }
    .text-grid{
        height: 117px;
        font-weight: 700;
        font-size: 68px;
    }
    .grid-container-meet-us-second {
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: auto auto auto;
        margin-left: 25%;
        font-size: 24px;
        margin-top: -330px;
      }
      .grid-item-meet-us-second{
        width: 50%;
        margin-bottom: 50%;
    }
    .story-of-creation{
        width: 90%;
        height: 117px;
        margin-left: 5%;
        font-size: 72px;
    }
    .mezera-meet-us{
        width: auto;
        height: 20%;
    }
    .websites-text{
        margin-left: 0px ;
    }
    .clients-text{
        margin-left: 50%;
    }
    .years-text{
        margin-left: 10%;
    }
}