.meet-us{
    position: absolute;
    height: 1851px;
    width: 100%;
    left: 0px;
    top: 140px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
}
.meet-us-title{
    width: 80%;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 13%;
    margin-top: 20px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-meet-us{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-left: 13%;
    margin-right: 265px;
    height: 129px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 75%;
}
.meet-us-pic{
    position: absolute;
    margin-top: 80px;
    width: 70%;
    align-items: center;
    margin-left: -37%;
}

.grid-container-meet-us {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-top: 35%;
    margin-left: 30%;
    margin-right: 390px;
    text-align: center;
  }
.grid-item-meet-us{
    display: inline-grid;
    background-color: #F5F5F5;
    text-align: center;
    width: 280px;
    display: flex;
    align-items: center;
    text-align: center;


}
.text-grid{
    height: 117px;
    align-items: center;
    flex: none;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
}
.grid-container-meet-us-second {
    /*grid: auto-flow dense / repeat(3, 180px);*/
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-right: 390px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    text-align:center;
    margin-left: 30%;
  }
  .grid-item-meet-us-second{
    display: inline-grid;
    background-color: #F5F5F5;
    width: 280px;
    display: flex;
    align-items:center;
}
.story-of-creation{
    width: 835px;
    height: 117px;
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-top: 100px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 60pt;
    margin-top: 140px;
}
.mezera-meet-us{
    width: auto;
    height: 90px;
}
.websites-text{
    margin-left: -20px ;
}
.clients-text{
    margin-left: 40px;
}
.years-text{
    margin-left: -60px;
}
@media only screen and (max-width: 1560px) {
    .meet-us-title{
        margin-left: 13%;
    }
    .meet-us-pic{
        position: absolute;
        margin-top: 80px;
        width: 80%;
        align-items: center;
        margin-left: -37%;
    }
    .meet-us-title{
        font-size: 86px;
    }
    .grid-container-meet-us {
        margin-top: 40%;
        margin-left: 20%;
      }
    .grid-item-meet-us{
        display: inline-grid;
        background-color: #F5F5F5;
        text-align: center;
        width: 250px;
    
    }
    .text-grid{
        height: 96px;
        align-items: center;
        flex: none;
        text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
        1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
        font-family: 'Montserrat', sans-serif;
        color: #F5F5F5;
        font-style: normal;
        font-weight: 700;
        font-size: 76px;
    }
    .grid-container-meet-us-second {
        /*grid: auto-flow dense / repeat(3, 180px);*/
        display: grid;
        padding: 0pt;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        text-align: center;
        margin-right: 390px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 24px;
        text-align:center;
        margin-left: 23%;
      }
      .text-meet-us{
        margin-left: 13%;
      }
      .grid-item-meet-us-second{
        display: inline-grid;
        background-color: #F5F5F5;
        width: 250px;
        display: flex;
        align-items:center;
    }
    .story-of-creation{
        width: 835px;
        height: 117px;
        display: flex;
        align-items: center;
        margin-left: 7%;
        margin-top: 100px;
        text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
        1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
        color: #F5F5F5;
        line-height: 117px;
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        margin-bottom: 60pt;
        margin-top: 140px;
    }
    .mezera-meet-us{
        width: auto;
        height: 90px;
    }
    .websites-text{
        margin-left: 0px ;
        font-size: 20px;
    }
    .clients-text{
        font-size: 20px;
        margin-left: 40px;
    }
    .years-text{
        margin-left: -0px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 1000px){
    .meet-us-title{
        width: 90%;
        height: 96px;
        margin-left: 5%;
        margin-top: 20px;
        font-size: 68px;
    }
    
    .text-meet-us{
        margin-left: 5%;
        margin-right: 0%;
        width: 95%;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
        line-height: 28px;
        overflow-wrap: break-word;
        margin-top: 5%;
    }
    .meet-us-pic{
        position: absolute;
        margin-left: -45%;
        margin-top: 50px;
        width: 90%;
        height: 20%;
    }
    
    .grid-container-meet-us {
        margin-top: 460px;
        margin-left: 15%;
        margin-right: 0%;
        width: 80%;
        align-items: center;
      }
    .grid-item-meet-us{
        width: 20%;
        margin-left: 0%;
        margin-right: 0px;
        margin-bottom: 0%;
    }
    .grid-item-meet-us-sec{
        margin-left: 0%;
    }
    .text-grid{
        height: 44px;
        font-weight: 700;
        font-size: 56px;
    }
    .grid-container-meet-us-second {
        margin-left: 5%;
        font-size: 20px;
        width: 95%;
        margin-right: 0;
        margin-top: 0px;
      }
      .grid-item-meet-us-second{
        width: 100%;
        overflow-wrap: normal;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .websites-text{
        margin-left: 30px ;
    }
    .clients-text{
        margin-left: 30px;
    }
    .years-text{
        margin-left: 0px;
    }
    .story-of-creation{
        width: 90%;
        height: 43px;
        line-height: 43px;
        margin-left: 5%;
        text-align: left;
        font-size: 36px;
        margin-top: 10%;
    }
    .mezera-meet-us{
        width: auto;
        height: 1%;
    }

}
@media only screen and (max-width: 486px){
    .meet-us{
        height: 1951px;
        width: 90%;
        left: 0px;
        top: 20%;
        display:flexbox;
        align-items: center;
        font-display:inherit;
        background: #F5F5F5;
    }
    .meet-us-title{
        width: 90%;
        height: 96px;
        margin-left: 5%;
        margin-top: 20px;
        font-size: 36px;
    }
    
    .text-meet-us{
        margin-left: 5%;
        margin-right: 0%;
        width: 100%;
        font-size: 16px;
        text-align: left;
        line-height: 28px;
        overflow-wrap: break-word;
        margin-top: 5%;
    }
    .meet-us-pic{
        position: absolute;
        margin-left: -42%;
        margin-top: 100px;
        height: 10%;
        width: 100%;
    }
    
    .grid-container-meet-us {
        margin-top: 310px;
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
      }
    .grid-item-meet-us{
        width: 20%;
        margin-left: 5%;
        margin-bottom: 0%;
    }
    .grid-item-meet-us-sec{
        margin-left: 0%;
    }
    .text-grid{
        height: 44px;
        font-weight: 700;
        font-size: 36px;
    }
    .grid-container-meet-us-second {
        margin-left: 5%;
        font-size: 14px;
        width: 95%;
        margin-top: 0px;
      }
      .grid-item-meet-us-second{
        width: 100%;
        overflow-wrap: normal;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .websites-text{
        margin-left: 20px ;
    }
    .clients-text{
        margin-left: 40px;
    }
    .years-text{
        margin-left: 50px;
    }
    .story-of-creation{
        width: 100%;
        height: 43px;
        line-height: 43px;
        margin-left: 5%;
        text-align: left;
        font-size: 36px;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .mezera-meet-us{
        width: auto;
        height: 1%;
    }

}
@media only screen  and (max-width: 364px){

    .grid-container-meet-us {
        margin-top: 310px;
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
      }
    .grid-item-meet-us{
        width: 20%;
        margin-left: 5%;
        margin-bottom: 0%;
    }
    .grid-item-meet-us-sec{
        margin-left: 0%;
    }
    .text-grid{
        height: 44px;
        font-weight: 700;
        font-size: 36px;
    }
    .grid-container-meet-us-second {
        margin-left: 5%;
        font-size: 12px;
        width: 95%;
        margin-top: 0px;
      }
      .grid-item-meet-us-second{
        width: 100%;
        font-size: 12px;
        overflow-wrap: normal;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .websites-text{
        margin-left: 15px ;
        font-size: 16px;
    }
    .clients-text{
        margin-left: 40px;
        font-size: 16px;
    }
    .years-text{
        margin-left: 40px;
        font-size: 16px;
    }
    .text-meet-us{
        margin-top: 15%;
    }
}