.slider-about-us{
    position: absolute;
    width: 1440px;
    height: 939px;
    top: 1990px;
    display:flexbox;
    align-items: center;
    background: #F5F5F5;
    border: #F5F5F5;
}
.image-second{
    position: absolute;
    left: 538px;
    top: -100px;
}
.image-first{
    position: absolute;
    top: -100px;
    left: 138px;}
.image-third{
    position: absolute;
    top: -100px;
    margin-left: 1280px;
}