.slider-as{
    position: absolute;
    width: 1440px;
    height: 869px;
    top: 2147px;
    display:flexbox;
    align-items: center;
    background: #F5F5F5;
    border: #F5F5F5;
}
.image-second-slider{
    margin-left: 385px;
    margin-top: -870px;
}
.image-first-slider{
    margin-top: -200px;
    margin-left: -840px;
}
.image-third-slider{
    margin-top: -870px;
    margin-left: 1340px;
}