.header-sec{
    position: absolute;
    height: 140px;
    width: 100%;
    left: 0px;
    top: 0px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #181818;
    
}

.header-logo-sec{
    padding: auto;
    display:flex;
    text-decoration: none; 
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #FF4747;
    margin-left: 126px;
    margin-top: 23px;
    font-family: 'Montserrat', sans-serif;
    
}
@media only screen  and (max-width: 1500px){
    .header-sec{
        position: absolute;
        height: 140px;
        width: 100%;
        left: 0px;
        top: 0px;
        display:flexbox;
        align-items: center;
        font-display:inherit;
        background: #181818;
        
    }

    .header-logo-sec{
        padding: auto;
        display:flex;
        text-decoration: none; 
        text-transform: uppercase;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        color: #FF4747;
        margin-left: 5%;
        margin-right: 0%;
        width: 30%;
    }
}
@media only screen  and (max-width: 486px){
    .header-sec{
        position: absolute;
        height: 40%;
        width: 100%;
        left: 0px;
        top: 0px;
        display:flexbox;
        align-items: center;
        font-display:inherit;
        background: #181818;
        
    }

.header-logo{
    display:flex;
    text-decoration: none; 
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    color: #FF4747;
    margin-left: 5%;
    margin-top: 5%;
    width: 10%;
}
}