.web-dev{
    position: absolute;
    width: 100%;
    height: 2063px;
    top: 1262px;
    background: #F5F5F5;
}
.web-dev-main-title{
    position: absolute;
    width: 804px;
    margin-left: 200px;
    height: 96px;
    font-size: 96px;
    margin-top: 117px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
/* identical to box height, or 140px */
}
.plus-border-web-dev{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 970px;
    margin-top: 50px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-web-dev{
    margin-left: 40px;
    margin-top: 40px;
}
.web-dev-design-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-right: 265px;
    height: 215px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 801px;
    margin-top: 350px;
    margin-left: 462px;
}

.video-web-dev{
    position: absolute;
    left: 462px;
    top: 629px;
}
.grid-container-web-dev{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 593px;
    text-align: center;
    
}
.grid-item-web-dev{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    margin-top: 564px;
    align-items: center;
    justify-content: left;
}
.web-dev-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-container-web-dev-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 40px;
    
}
.grid-item-web-dev-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.web-dev-sec-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.web-dev-sec-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}


.pujc-photo-app-des-web{
    width: 143%; 
    margin-left: 0%;
}
.todo-photo-app-des-web{
    width: 175%; 
}

.images-text-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 800pt;
}
.images-text-sec-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 200px;
    text-transform: none;
    margin-top: 800pt;
    font-size: 20px;
    font-style: normal;
}
.images-text-third-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 110px;
    text-transform: none;
    margin-top: 800pt;
    font-size: 20px;
    font-style: normal;
}
.graciano-image-app{
    margin-top: 73px;
    position: relative;
    display: flex;
    margin-left: 240px;
}
.grid-container-app{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 240px;
    margin-top: 60pt;
    width: 85%;
}
.grid-item-app{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    width: 40%;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.grid-item-app-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.upper-text{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
    .web-dev{
        width: 100%;
        height: 1600px;
        top: 1300px;
    }
    .web-dev-main-title{
        width: 90%;
        margin-top: 0;
        font-size: 56px;
        margin-left: 5%;
        text-align: left;
    }
    .plus-border-web-dev{
        display: none;
    }
    .plus-text-web-dev{
        display: none;
    }
    .web-dev-design-text{
        margin-right: 5%;
        height: 215px;
        font-size: 16px;
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    
    .video-web-dev{
        position: absolute;
        left: 5%;
        top: 280px;
    }
    .grid-container-web-dev{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-left: 5%;
        margin-top: 480px;
        height: auto;
    }
    .grid-item-web-dev{
        width: 100%;
        margin-top:0%; 
        height: 30px;
    }
    .web-dev-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        text-align: left;
        text-transform: uppercase;
    }
    .grid-container-web-dev-sec{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
    }
    .web-dev-sec-text-second{
        font-size: 24px;
    }
    .web-dev-sec-text{
        font-size: 24px;
    }
    
 
.pujc-photo-app-des-web{
    width: 173%; 
    margin-left: 0%;
    height: 300pt;
}
.todo-photo-app-des-web{
    width: 180%; 
    height: 300pt;
}

.images-text-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 600pt;
}
.images-text-sec-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 200px;
    text-transform: none;
    margin-top: 600pt;
    font-size: 20px;
    font-style: normal;
}
.images-text-third-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 110px;
    text-transform: none;
    margin-top: 600pt;
    font-size: 20px;
    font-style: normal;
}
.grid-container-app{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 5%;
    margin-top: 60pt;
    width: 85%;
}
.grid-item-app{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    width: 40%;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.grid-item-app-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
}
@media only screen and (max-width: 486px){
    .web-dev{
        width: 100%;
        height: auto;
        top: 1200px;
    }
    .web-dev-main-title{
        width: 90%;
        margin-top: 0;
        font-size: 36px;
        margin-left: 5%;
        text-align: left;
    }
    .plus-border-web-dev{
        display: none;
    }
    .plus-text-web-dev{
        display: none;
    }
    .web-dev-design-text{
        margin-right: 5%;
        height: 215px;
        font-size: 16px;
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    
    .video-web-dev{
        position: absolute;
        left: 5%;
        top: 400px;
        width: 90%;
    }
    .grid-container-web-dev{
        display: grid;
        margin-top: 0pt;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 0%;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .grid-item-web-dev{
        display: inline-grid;
        top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 364px;
        height: 30pt;
        justify-content: left;
        text-align: left;
    }
    .web-dev-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }
    .grid-container-web-dev-sec{
        display: grid;
        width: 100%;
        margin-left: 0%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }
    .grid-item-web-dev-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 88%;
        height: auto;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
    }
    .web-dev-sec-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-left: 0;
        text-align: left;
    }
    .web-dev-sec-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    
    .web-dev-image{
        margin-top: 50px;
        margin-left: 5%;
        width: 80%;
        margin-right: 5%;
    }

    .pujc-photo{
        display: none;
    } 
    .grid-container-app{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin-left: 10%;
        margin-top: 0pt;
        width: 75%;
    }
    .grid-item-app{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: auto;
        width: 50%;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        margin-left: 0;
    }
    .grid-item-app-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        margin-left: 530px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    } 
    
.pujc-photo-app-des-web{
    width: 200%; 
    height: 300px;
    margin-left: -30%;
}
.todo-photo-app-des-web{
    width: 210%;
    height: 300px;
    margin-top: 70pt; 
}

.images-text-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 370px;
}
.images-text-sec-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 150px;
    text-transform: none;
    margin-top: 370px;
    font-size: 16px;
    font-style: normal;
}
.images-text-third-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 80px;
    text-transform: none;
    margin-top: 370px;
    font-size: 16px;
    font-style: normal;
}  
}