.about_us{
    position: absolute;
    justify-content: center;
    width:94%;
    height: 1214px;    
    left: 102px;
    top: 4762px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
}
.about_us_title{
    width: 560px;
    height: 117px;
    display: flex;
    text-transform: uppercase;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;    
    font-family: montserrat ;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-top: 128px;
}
.our_team_image{
    display: flex;
    position: relative;
    margin-top: 149px;
    margin-right: 102px;
    width:618px;
    height:556px
}

.grid-container-about-us {
    display: grid;
    padding: 0pt;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    text-align: center;
    margin-top: 0pt;
    margin-left: 70pt;
  }
.grid-item-about-us{
    display: inline-grid;
    background-color: #F5F5F5;
    text-align: center;
    width: 0pt;
    margin-right: 20px;
}
.text-about-us{
    position:relative;
    width: 618px;
    height: 344px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: block;
    text-align: left;
    line-height: 180%;
    color: #181818;
}
.read-more{
    width: 133px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #A3A1A1; 
    flex: none;
    margin-top: 20pt;
    margin-left: 340pt;
    text-decoration: none;
}
.red-text{
    font-weight: 800;
}
@media only screen and (max-width: 786px){
    .about_us{
        position: absolute;
        justify-content: center;
        width: 90%;
        height: 1614px;    
        left: -9%;
        top: 4250px;
    }
    .about_us_title{
        width: 90%;
        font-weight: 700;
        font-size: 48px;
        margin-top: 76px;
    }
    .our_team_image{
        display:flex;
        position: relative;
        margin-top: 15%;
        margin-right: 0%;
        width: 45%;
        height: 45%;
    }
    
    .grid-container-about-us {
        display: grid;
        margin-left: 15%;
        padding: 0pt;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        text-align: center;
        margin-top: 0pt;
      }
    .grid-item-about-us{
        display: inline-grid;
        background-color: #F5F5F5;
        text-align: center;
        width: 50%;
        margin-left: 5%;
        margin-right: 20px;
    }
    .text-about-us{
        position:relative;
        width: 100%;
    }
    .read-more{
        width: 133px;
        height: 30px;
        line-height: 50%;
        margin-top: 245px;
        margin-left: 0pt;
        text-decoration: underline;
    }
}