.cases{
    position: absolute;
    width: 90%;
    height: 2743px;
    left: 10%;
    top: 2219px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
    
}
.cases-title{
    width: 50%;
    height: 117px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 102px;
    margin-top: 169px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 40pt;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background-color: #F5F5F5;
    justify-content: start;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
  }
  

  .grid-item {
    display: inline-grid;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    font-size: 30px;
    text-align: center;
    height: 450px;
    margin-top: 20pt;
    margin-left: 10%;
    margin-bottom: 200px;

  }
  .grid-item-left{
    margin-left: 10%;
    margin-right: auto;
    overflow-wrap: normal;
  }
  .grid-item-right{
    margin-right: 102px;
    margin-left: 200px;
    overflow-wrap: normal;
  }
.pujc-pic{
    margin-top: 35px;
    
}
.pujc-border{
    border: 2px solid #EBEBEB;
    border-radius: 20px;
    margin: auto;
    background-color: #EBEBEB;
    Width: 384px;
    Height: 550px;
    padding: 0;
    margin-right: 102px; 
}
.grid-container-second{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    justify-content: start;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    margin-top: 0pt;
}
.grid-item-second {
    display: inline-grid;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    font-size: 30px;
    text-align: center;
    height: 450px;
    margin-top: 86px;
    margin-bottom: 100px;
  }
h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #181818;
    width: 276px;
    height: 59px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
    }
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    margin-top: 15pt;
    position:absolute;
    justify-items: baseline;
    display:flexbox;
    justify-content:right;
}
.first-pic{
    margin-left: 200pt;

}
.second-pic{
    margin-left: 150px;
}
.third-pic{
    margin-left: 200pt;
}
.fourth-pic{
    margin-left: 150pt;
}
.fifth-pic{
    margin-left: 140pt;
}
.more-view-a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #181818;
    font-weight: 400;
    margin:auto;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
.more-view{
    font-size: 24pt;
    margin-right: 40pt;
    margin-top: -5pt;
}
.cases-title-plus{
    position: absolute;
    width: 90px;
    height: 86px;
    left: 741px;
    top: 127px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 180%;
    display: flex;
    align-items: center;
    color: #181818;

}
.plus-border{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 717.02px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    margin-top: 100px;
    opacity: 0.9;
}
.plus-text{
    margin-left: 28px;
    margin-top: 40px;
}
.load-pic{
    margin-left: -50pt;
}
.grac-img{
    width: 110%;
}


@media only screen  and (max-width: 786px){
    .cases{
        position: absolute;
        width: 100%;
        height: 2943px;
        left: 0%;
        right: 5%;
        top: 2950px;
        margin-bottom: 15%;
    }
    .cases-title{
        width: 60%;
        margin-left: 10%;
        margin-top: 5%;
        line-height: 117px;
        font-weight: 700;
        font-size: 48px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        width: 100%;
    }
    .grid-item {
    display: inline-grid;
    margin-top: 20pt;
    margin-bottom: 35%;
    }
    .grid-item-left{
    margin-left: 0%;
    width: 90%;
    height: 75%;
    margin-right: 0%;
    
    }
    .grac-img{
    width: 100%;
    height: 100%;
    }
    .grid-item-right{
    display: none;
    }
    
    .plus-border{
    display: none;
}
    .plus-text{
        display: none;
    }

    .third-pic{
        margin-left: 0%;
        margin-top: 15%;
        margin-bottom: 25%;
    }
    .first-pic{
        margin-left: 0px;
        margin-top: 15%;
    }
    .pujc-pic{
        margin-top: 35px;
    }
    .pujc-border{
        width: 120%;
    }
    .todo-img{
        margin-top: -210%;
        width: 100%;
    }
    .grid-container-second{
        display: none

    }
    .grid-item-second {
        display: none;
      }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 20px;
    }
    .second-pic{
        margin-left: 0%;
        margin-top: 15%;
    }
    .more-view-a{
        display: none;
    }
    .more-view{
        display: none;
    }
    }
