.cases{
    position: absolute;
    width: 100%;
    height: 2743px;
    left: 0px;
    top: 2019px;
    display:flexbox;
    align-items: center;
    font-display:inherit;
    background: #F5F5F5;
}
.cases-title{
    width: 647px;
    height: 117px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 126px;
    margin-top: 20pt;
    -webkit-text-stroke: 2px black; 
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    line-height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background-color: #F5F5F5;
    justify-content: start;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    margin-top: 30pt;
  }
  

  .grid-item {
    display: inline-grid;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    font-size: 30px;
    text-align: center;
    height: 550px;
    margin-left: 70pt;
    margin-right: 0pt;
    margin-top: 10pt;
    margin-bottom: 120pt;

  }
.pujc-pic{
    margin-top: 20pt;
}
.pujc-border{
    border: 2px solid #EBEBEB;
    border-radius: 20px;
    margin: auto;
    background-color: #EBEBEB;
    Width: 400px;
    Height: 600px;
    padding: 0;
    
    }
.grid-container-second{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #F5F5F5;
    justify-content: start;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    margin-top: 30pt;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #181818;
    width: 276px;
    height: 59px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;

    }
h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    margin-top: 15pt;
    position:absolute;
    justify-items: baseline;
    display:flexbox;
    justify-content:right;
}
.first-pic{
    margin-left: 200pt;
}
.second-pic{
    margin-left: 100pt;
}
.third-pic{
    margin-left: 200pt;
}
.fourth-pic{
    margin-left: 150pt;
}
.fifth-pic{
    margin-left: 150pt;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #181818;
    font-weight: 400;
    margin:auto;
}
.more-view{
    font-size: 24pt;
}



