.artificial-intellignece{
    position: absolute;
    width: 100%;
    height: 1012px;
    left: 0px;
    top: 7998px;
}
.ai-main-title{
    position: absolute;
    width: 911px;
    height: 192px;
    left: 240px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    display: flex;
    margin-top: 174px;
    text-align: left;
}
.plus-border-ai{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 928px;
    margin-top: 186px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-ai{
    margin-left: 40px;
    margin-top: 40px;
}
.services-ai-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 735px;
    height: 215px;
    top: 398px;
    margin-left:483px;
}
.grid-container-ai{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 491px;
}
.grid-item-ai{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}

.grid-container-ai-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 40px;
}
.grid-item-ai-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.grid-text-ai{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-ai-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.grid-ai-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}
.a{
    color: #FF4747;
    text-decoration: underline;
}
@media only screen and (max-width: 786px) {
    .artificial-intellignece{
        position: absolute;
        width: 100%;
        height: 1012px;
        left: 0px;
        top: 8098px;
    }
    .ai-main-title{
        width: 90%;
        left: 5%;
        overflow-wrap: break-word;
        font-size: 46px;
        line-height: 100%;
        display: flex;
        margin-top: 400px;
        text-align: left;
    }
    .plus-border-ai{
        display: none;
    }
    .plus-text-ai{
        display: none;
    }
    .services-ai-text{
        width: 90%;
        height: 215px;
        top: 550px;
        margin-left:5%;
    }
    .grid-container-ai{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 991px;
        width: 90%;
    }
    .grid-container-ai-sec{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        margin-top: 150px;
    }
    .grid-item-ai-sec{
        margin-bottom: 15px;
    }
}