.artificial-intellignece{
    position: absolute;
    width: 100%;
    height: 1012px;
    left: 0px;
    margin-top: 7998px;
}
.ai-main-title{
    position: absolute;
    width: 60%;
    height: 192px;
    left: 12%;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    display: flex;
    margin-top: 174px;
    text-align: left;
}
.plus-border-ai{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 48%;
    margin-top: 186px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-ai{
    margin-left: 40px;
    margin-top: 40px;
}
.services-ai-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 60%;
    height: 215px;
    top: 398px;
    margin-left:25%;
}
.grid-container-ai{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 491px;
}
.grid-item-ai{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}

.grid-container-ai-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 40px;
}
.grid-item-ai-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.grid-text-ai{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-ai-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.grid-ai-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}
.a{
    color: #FF4747;
    text-decoration: underline;
}
@media only screen and (max-width: 1700px) {
    .plus-border-ai{
        display: none;
        height: 20px;
    }
    .plus-text-ai{
        display: none;
        height: 20px;
    }
}
@media only screen and (max-width: 1560px) {
    .plus-border-ai{
        display: none;
        height: 20px;
    }
    .plus-text-ai{
        display: none;
        height: 20px;
    }
    .services-ai-text{
        width: 75%;
        margin-left:25%;
    }
.grid-container-ai{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 25%;
    text-align: center;
    margin-top: 491px;
}
.grid-item-ai{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}

.grid-container-ai-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 25%;
    text-align: center;
    margin-top: 40px;
}
.grid-item-ai-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
}
@media only screen and (max-width: 1000px) {
    .artificial-intelligence{
        margin-top: 300px;
        position: absolute;
        width: 100%;
        height: auto;
        left: 0px;
    }
    .ai-main-title{
        width: 90%;
        height: auto;
        margin-top: 0px;
        left: 5%;
        margin-bottom: 20pt;
        font-size: 56px;
    }
    .plus-border-ai{
        display: none;
        height: 20px;
    }
    .plus-text-ai{
        display: none;
        height: 20px;
    }
    .services-ai-text{
        width: 90%;
        top: 110pt;
        margin-left: 5%;
        font-size: 16px;
    }
    .grid-container-ai{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 100px;
        height: auto;
        width: 90%;
    }
    .grid-container-ai-sec{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        margin-top: 20pt;
    }
    .grid-item-ai{
        margin-left: 5%;
        width: 95%;
    }
    .grid-item-ai-sec{
        margin-bottom: 15px;
        margin-top: 0;
        height: 20px;
        margin-left: 5%;
        text-align: left;
    }
    .grid-text-ai{
        font-size: 24px;
        text-align: left;
    }
    .grid-ai-text-second{
        font-size: 16px;
    }
    .grid-ai-text{
        font-size: 16px;
    }
}
@media only screen and (max-width: 486px) {
    .artificial-intellignece{
        position: absolute;
        width: 100%;
        height: 1012px;
        left: 0px;
        margin-top: 8998px;
    }
    .ai-main-title{
        width: 90%;
        height: auto;
        margin-top: 0px;
        left: 5%;
        font-size: 36px;
    }
    .plus-border-ai{
        display: none;
        height: 20px;
    }
    .plus-text-ai{
        display: none;
        height: 20px;
    }
    .services-ai-text{
        width: 90%;
        top: 100px;
        margin-left: 5%;
        font-size: 16px;
    }
    .grid-container-ai{
        display: grid;
        margin-top: 0pt;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 0%;
        height: 40pt;
        margin-top: 160pt;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .grid-container-ai-sec{
        display: grid;
        width: 100%;
        margin-left: 0%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }
    .grid-item-ai{
        display: inline-grid;
        top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0pt;
        width: 90%;
        height: 30pt;
        justify-content: left;
        text-align: left;
    }
    .grid-item-ai-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        margin-left: 5%;
        margin-right: 4%;
        width: 91%;
        height: auto;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
    }
    .grid-text-ai{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }
    .grid-ai-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .grid-ai-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
}