.banner-services{
    position: absolute;
    width: 1440px;
    height: 556px;
    margin-left: 0px;
    top: 216px;
    background: #F5F5F5;
}
.banner-services-main-title{
    position: absolute;
    width: 761px;
    height: 140px;
    left: 240px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 140px;
    line-height: 100%;
}
.banner-services-title{
    position: relative;
    width: 1340px;
    height: 96px;
    left: 200px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FF4747;
    margin-top: 140px;
}

.text-serv{
    position: absolute;
    height: 76px;
    left: 364px;
    margin-top: 136px;
    width: 916px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    color: #181818;
}
.Gint-button {
    margin-left: 1064px;
    margin-top: 66px;

}
.Gint-text{
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 57px;
    position: absolute;
    display: flex;
    align-items: center;
}

.Gint-text a {
    text-decoration: none;
}

.sipka-services{
    margin-left: 42px;
}
