.banner-services{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    top: 216px;
    background: #F5F5F5;
}
.banner-services-main-title-dev{
    position: absolute;
    width: 761px;
    height: 140px;
    left: 13%;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 140px;
    text-align: left;
    line-height: 100%;
}
.banner-services-title-dev{
    position: relative;
    width: 85%;
    text-align: left;
    height: 96px;
    left: 13%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FF4747;
    margin-top: 140px;
}

.text-serv{
    position: absolute;
    height: 76px;
    left: 364px;
    margin-top: 136px;
    width: 916px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    color: #181818;
}
.Gint-button-dev {
    margin-left: 55%;
    margin-top: 66px;
}

.Gint-text{
    color: #181818;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 57px;
    position: absolute;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.Gint-text a {
    text-decoration: none;
}

.sipka-services{
    margin-left: 45px;

}
.arrowServices{
    width: 133px; 
    height: 26px;
}
.arrowServices:hover{
    width: 73px; 
}
@media only screen and (max-width: 1560px) {
    .banner-services-title-dev{
        position: relative;
        width: 85%;
        text-align: left;
        height: 96px;
        left: 13%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 76px;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FF4747;
        margin-top: 140px;
    }
}
@media only screen and (max-width: 1200px) {
    .banner-services-title-dev{
        position: relative;
        width: 85%;
        text-align: left;
        height: 96px;
        left: 13%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 66px;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FF4747;
        margin-top: 140px;
    }
}
@media only screen and (max-width: 1000px) {

    .banner-services-main-title-dev{
        width: 90%;
        left: 5%;
        font-size: 100px;
        line-height: 100%;
        text-align: left;
    }
    .banner-services-title-dev{
        position: relative;
        width: 90%;
        height: 78px;
        margin-right: 0px;
        right: 0px;
        left: 5%;
        text-align: left;
        font-size: 48px;
        margin-top: 120px;
    }
    .text-serv{
        position: absolute;
        height: 76px;
        left: 5%;
        margin-top: 136px;
        width: 80%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 24px;
        line-height: 160%;
        display: flex;
        color: #181818;
    }
    .Gint-button-dev {
        margin-left: 40%;
        width: 40%;
        margin-top: 66px;
    }
    
    .Gint-text{
        color: #181818;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 57px;
        position: absolute;
        line-height: 100%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
    
    .Gint-text a {
        text-decoration: none;
    }
    
    .sipka-services{
        margin-left: 42px;
    
    }
    .arrowServices{
        width: 133px; 
        height: 26px;
    }
    .arrowServices:hover{
        width: 73px; 
    }
}
@media only screen and (max-width: 600px) {

    .banner-services-main-title-dev{
        width: 90%;
        left: 5%;
        font-size: 100px;
        line-height: 52px;
        font-size: 52px;
        text-align: left;
    }
    .banner-services-title-dev{
        margin-top: 60px;
    }
    
}
@media only screen and (max-width: 486px) {
    .banner-services{
        top: 270px;
    }
    .banner-services-main-title-dev{
        width: 90%;
        left: 5%;
        font-size: 48px;
    }
    .banner-services-title-dev{
        width: 90%;
        height: 96px;
        left: 5%;
        font-size: 48px;
        margin-top: 40pt;
    }
    .text-serv{
        left: 5%;
        margin-top: 80pt;
        width: 90%;
        font-size: 18px;
    }
    .Gint-button-dev {
        margin-left: 5%;
        width: 90;
        margin-top: 20pt;
    }
    .Gint-text{
        font-size: 20px;
        line-height: 100%;
    } 
    .sipka-services{
        margin-left: 5px;
    
    }
    .arrowServices{
        width: 133px; 
        height: 26px;
    }
    .arrowServices:hover{
        width: 73px; 
    }   
}