.Services-webpages{
    height: 1992px;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 6106px;
}
.webpages-main-title-services{
    position: absolute;
    width: 911px;
    height: 192px;
    left: 240px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 96px;
    margin-top: 174px;
    line-height: 100%;
    display: flex;
    text-align: left;
}
.plus-border-webpages{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 1048px;
    margin-top: 105px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-webpages{
    margin-left: 40px;
    margin-top: 40px;
}

.webpages-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 735px;
    top: 398px;
    margin-left: 843px;
}

.grid-container-webpage{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 500px;

}
.grid-item-webpage{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    width: 360px;
}

.grid-container-webpage-sec{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 40px;
    width: 350px;
}
.grid-item-webpage-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.grid-text-custom{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-webpage-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.grid-webpage-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}




.grid-container-web{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 124px;

}
.grid-item-web{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    width: 360px;
}
.grid-container-web-sec{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 40px;
    width: 350px;
}
.grid-item-web-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
a{
    color: #FF4747;
}
.lorem-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 14px;
}
.lorem-text-sec{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 140px;
    text-transform: none;
    margin-top: 25px;
    font-size: 20px;
    font-style: normal;
}

.images{
    margin-top: 89px;
    position: relative;
    display: flex;
    margin-left: 250px;
}
.todo-photo{
    margin-left: 201px;
}

.images-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 564px;
}
.images-text-sec{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 200px;
    text-transform: none;
    margin-top: 575px;
    font-size: 20px;
    font-style: normal;
}
.images-text-third{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 110px;
    text-transform: none;
    margin-top: 575px;
    font-size: 20px;
    font-style: normal;
}
.pujc-photo-app{
    width: 170%; 
    height: 300pt;
    margin-left: 0%;
}
.todo-photo-app{
    width: 210%; 
    height: 300pt;
}
.lorem-webpage{
    margin-top: 0%;
    margin-left: -40%;
    width: 100%;
}
@media only screen and (max-width:1000px) {
    .Services-webpages{
        margin-top: 4806px;
        margin-bottom: 10%;
        height: 1600px
    }
    .webpages-main-title-services{
        width: 90%;
        height: auto;
        left: 5%;
        font-size: 56px;
    }
    .plus-border-webpages{
        display: none;
        height: 20px;
        margin-top: 0px;
    }
    .plus-text-webpages{
       display: none;
       height: 20px;
    }
    .webpages-text{
        width: 90%;
        height: auto;
        margin-left: 5%;
        background-color: #F5F5F5;
        font-size: 20px;
        top: 350px;
    }
    
    .grid-container-webpage{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-left: 5%;
        margin-top: 230px;
        height: auto;
    }
    .grid-item-webpage{
        width: 65%;
        margin-top:0%; 
        height: 30px;
    }
    
    .grid-container-webpage-sec{
        display: none;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        margin-top: 5%;
        width: 30%;
    }
    .grid-text-custom{
        font-size: 24px;
    }
    .grid-webpage-text{
        font-size: 16px;
        
    }
    .grid-webpage-text-second{
        font-size: 24px;
        margin-left: 30px;
    }
    .grid-container-web{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 5%;
        width: 30%;
    
    }
    .grid-item-web{
        display: inline-grid;
        top: 40px;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 30px;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    .grid-container-web-sec{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 40px;
        width: 30%;
    }
    .grid-item-webpage-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 30px;
        align-items: center;
        justify-content: left;
        margin-bottom: 0px;
    }
    .grid-item-web-sec{
        height: 30px;
        margin-bottom: 0px;
    }
    a{
        color: #FF4747;
    }
    .lorem-webpage{
        margin-top: 45%;
        width: 65%;
        height: 150px;
        margin-left: 20%;
    }
    .images{
        margin-top: 0px;
        position: relative;
        visibility: hidden;
        margin-left: 5%;
    }

    .images-text-app{
        display: none;

    }
    .images-text-sec-app{
        display: none;

    }
    .images-text-third-app{
        display: none;
    }
    .grid-container-app{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 60pt;
        width: 95%;
    }
    .grid-item-app{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        width: 45%;
        margin-left: 5%;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .grid-item-app-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        margin-left: 530px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .pujc-photo-app{
        width: 190%; 
        margin-left: 40%;
        margin-top: 50%;
    }
    .todo-photo-app{
        width: 210%; 
        margin-top: 50%;
    }
    
}
@media only screen and (max-width: 486px) {
    .Services-webpages{
        margin-top: 5106px;
        height: auto;
    }
    .webpages-main-title-services{
        width: 90%;
        left: 5%;
        margin-top: -100pt;
        font-size: 36px;
    }
    .plus-border-webpages{
        display: none;
        height: 20px;
    }
    .plus-text-webpages{
       display: none;
       height: 20px;
    }
    .webpages-text{
        width: 90%;
        margin-top: 100pt;
        top: 0%;
        margin-top: 800pt;
        margin-left: 5%;
        font-size: 16px;
    }
    
    .grid-container-webpage{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-left: 5%;
        margin-top: 10%;
        width: 90%;
        
    }
    .grid-item-webpage{
        width: 90%;
        margin-top:0%; 
        height: 30px;
    }
    
    .grid-container-webpage-sec{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        margin-top: 0px;
        width: 90%;
    }
    .grid-text-custom{
        font-size: 24px;
    }
    .grid-webpage-text{
        font-size: 16px;
        
    }
    .grid-webpage-text-second{
        font-size: 24px;
        margin-left: 30px;
    }
    .grid-container-web{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 10%;
    
    }
    .grid-item-web{
        display: inline-grid;
        top: 40px;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 30px;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
    .grid-container-web-sec{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 40px;
        width: auto;
    }
    .grid-item-webpage-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 30px;
        align-items: center;
        justify-content: left;
        margin-bottom: 0px;
    }
    .grid-item-web-sec{
        height: 30px;
        margin-bottom: 0px;
    }
    a{
        color: #FF4747;
    }
    .lorem-webpage{
        margin-top: 100%;
        display: none;
    }
    .images{
        margin-top: 0px;
        position: relative;
        visibility: hidden;
        display: none;
        margin-left: 5%;
    }

    .images-text{
        display: none;

    }
    .images-text-sec{
        display: none;

    }
    .images-text-third{
        display: none;
    }
    .grid-container-app{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin-left: 5%;
        margin-top: 80pt;
        width: 95%;
    }
    .grid-item-app{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: auto;
        width: 40%;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .grid-item-app-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        margin-left: 530px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .pujc-photo-app{
        width: 200%; 
        height: 300px;
        margin-left: 0%;
    }
    .todo-photo-app{
        width: 200%;
        height: 300px;
        margin-top: 40%; 
    }
}