.services-app{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    top: 3036px;
    height: 1300px;
    background: #F5F5F5;
}
.services-app-main-title{
    position: absolute;
    width: 214px;
    height: 96px;
    font-size: 96px;
    margin-left: 240px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
}
.services-app-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-right: 265px;
    height: 215px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 735px;
    margin-top: 240px;
    margin-left: 603px;
}

.plus-border-app{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 401px;
    margin-top: -90px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-app{
    margin-left: 40px;
    margin-top: 40px;
}

.grid-container-sa{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 240px;
    margin-top: 80px;
}
.grid-item-sa{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}
.sa-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}


.grid-container-sas{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 40px;
    
}
.grid-item-sas{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.sas-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.sas-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}

.graciano-image{
    margin-top: 73px;
    position: relative;
    display: flex;
    margin-left: 240px;
}
.todo-photo{
    display: flex;
    margin-left: 115px;
}
.grid-container-app{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 240px;
    margin-top: 14px;
}
.grid-item-app{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.grid-item-app-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.upper-text{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
@media only screen and (max-width: 786px){
    .services-app{
        width: 100%;
        top: 3036px;
        height: 1300px;
    }
    .services-app-main-title{
        width: 214px;
        font-size: 72px;
        margin-left: 5%;
    }
    .services-app-text{
        margin-right: 5%;
        width: 90%;
        margin-top: 120pt;
        margin-left: 5%;
    }
    .plus-border-app{
        display: none;
    }
    .plus-text-app{
        display: none;
    }
    
    .grid-container-sa{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 250pt;
    }
    .sa-text{
        font-size: 32px;
    }
    
    
    .grid-container-sas{
        margin-left: 5%;
        
    }
    .grid-item-sas{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        margin-bottom: 15px;
    }
    .sas-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        
    }
    .sas-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        margin-left: 30px;
    }
    
    .graciano-image{
        margin-top: 73px;
        width: 190%;
        position: relative;
        display: flex;
        margin-left: 5%;
    }
    .todo-photo{
        display: none;
    }
    .grid-container-app{
        display: none;
    }
    .grid-item-app{
        display: none;

    }
    .grid-item-app-sec{
        display: none;

    }
    .upper-text{
        display: none;

    }
}