.custom{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    top: 4629px;
    height: 1800px;
    background: #F5F5F5;
}
.custom-title{
    position: absolute;
    width: 822px;
    height: 96px;
    font-size: 96px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    text-align: left;
    margin-left: 240px;
}
.plus-border-custom{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 646px;
    margin-top: -50px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-custom{
    margin-left: 40px;
    margin-top: 40px;
}
.custom-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-right: 265px;
    height: 215px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 801px;
    margin-top: 237px;
    margin-left: 483px;
}

.grid-container-custom{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 80px;
}
.grid-item-custom{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}

.grid-container-custom-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 40px;
}
.grid-item-custom-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.grid-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-custom-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.grid-custom-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}
.custom-photo{
    margin-left: 240px;
    margin-top: 80px;

}
.custom-text-image{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 120pt;
    font-size: 32px;
    font-weight: 700;
    margin-top: 14px;
}
.custom-text-image-sec{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 270px;
    margin-top: 25px;
    font-size: 20px;
    font-style: normal;
}
@media only screen and (max-width: 1000px) {
    .custom{
        top: 3929px;
        height: 1500px;
    }
    .custom-title{
        width: 90%;
        font-size: 56px;
        height: auto;
        margin-left: 5%;
    }
    .plus-border-custom{
        display: none;
    }
    .plus-text-custom{
        display: none;
    }
    .custom-text{
        margin-right: 5%;
        height: auto;
        width: 75%;
        margin-left: 20%;
        margin-top: 100px;
        font-size: 20px;
    }
    .grid-container-custom{
        margin-left: 5%;
        margin-top: 50px;
    }
    .grid-container-custom-sec{
        margin-left: 5%;
        margin-top: 40px;
    }
    .grid-item-custom-sec{
        margin-bottom: 0px;
        height: 40px;
    }
    .grid-text-custom{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        text-align: left;
    }
    .grid-custom-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: left;
    }
    .grid-custom-text-second{
        font-size: 20px;
        margin-left: 30px;
        text-align: left;
    }
    .custom-photo{
        margin-left: 0%;
        margin-top: 80px;
        height: auto;
    }
    .custom-text-image{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        text-transform: uppercase;
        margin-left: 10%;
        font-size: 32px;
        font-weight: 700;
        margin-top: 14px;
    }
    .custom-text-image-sec{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        margin-left: 25%;
        margin-top: 25px;
        font-size: 20px;
        font-style: normal;
    }

}
@media only screen and (max-width: 486px) {
    .custom{
        top: 3979px;
        height: auto;
    }
    .custom-title{
        width: 90%;
        font-size: 48px;
        margin-left: 5%;
        margin-top: 5%;
    }
    .plus-border-custom{
        display: none;
    }
    .plus-text-custom{
        display: none;
    }
    .custom-text{
        margin-right: 5%;
        width: 90%;
        margin-left: 5%;
        font-size: 16px;
        margin-top: 180px;
    }
    .grid-container-custom{
        display: grid;
        margin-top: 0pt;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 0%;
        height: 40pt;
        margin-top: 70pt;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .grid-container-custom-sec{
        display: grid;
        width: 100%;
        margin-left: 0%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }
    .grid-item-custom{
        display: inline-grid;
        top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0pt;
        height: 30pt;
        justify-content: left;
        text-align: left;
    }
    .grid-item-custom-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 88%;
        height: auto;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
    }
    .grid-text-custom{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }
    .grid-custom-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .grid-custom-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .custom-photo{
        margin-left: 0%;
        margin-top: 15%;
        width: 100%;
        height: auto;
    }
    .custom-text-image{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        text-transform: uppercase;
        margin-left: 8%;
        font-size: 28px;
        font-weight: 700;
        margin-top: 14px;
    }
    .custom-text-image-sec{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        margin-left: 35%;
        margin-top: 25px;
        font-size: 16px;
        font-style: normal;
    }
}