.services-app{
    position: absolute;
    width: 100%;
    margin-left: 0px;
    top: 3036px;
    height: 1300px;
    background: #F5F5F5;
}
.services-app-main-title{
    position: absolute;
    width: 214px;
    height: 96px;
    font-size: 96px;
    margin-left: 240px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
}
.services-app-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-right: 265px;
    height: 215px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 40%;
    margin-top: 240px;
    margin-left: 45%;
}

.plus-border-app{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 401px;
    margin-top: -90px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-app{
    margin-left: 40px;
    margin-top: 40px;
}

.grid-container-sa{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 240px;
    margin-top: 80px;
}
.grid-item-sa{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
}
.sa-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}


.grid-container-sas{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 240px;
    text-align: center;
    margin-top: 40px;
    
}
.grid-item-sas{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.sas-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.sas-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}
.pujc-photo-app{
    width: 113%; 
    height: 500pt;
    margin-left: 0%;
}
.todo-photo-app{
    width: 155%; 
    height: 500pt;
}

.images-text-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 880pt;
}
.images-text-sec-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 200px;
    text-transform: none;
    margin-top: 880pt;
    font-size: 20px;
    font-style: normal;
}
.images-text-third-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 110px;
    text-transform: none;
    margin-top: 880pt;
    font-size: 20px;
    font-style: normal;
}
.graciano-image-app{
    margin-top: 73px;
    position: relative;
    display: flex;
    margin-left: 240px;
}
.grid-container-app{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 240px;
    margin-top: 60pt;
    width: 85%;
}
.grid-item-app{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    width: 40%;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.grid-item-app-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.upper-text{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
    .services-app{
        position: absolute;
        width: 100%;
        margin-left: 0px;
        top: 2776px;
        height: 1300px;
        text-align: left;
        background: #F5F5F5;
    }
    .services-app-main-title{
        width: 50%;
        height: 56px;
        text-align: left;
        font-size: 56px;
        margin-left: 5%;
    }
    .services-app-text{
        font-size: 16px;
        width: 90%;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .plus-border-app{
        font-size: 48px; 
        Width: 120px;
        Height: 120px;
        text-align:justify;
        margin-left: 15%;
    }
    .plus-text-app{
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .grid-container-sa{
        display: grid;
        width: 90%;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 0%;
    }
    .sa-text{
        font-size: 32px;
    }
    .grid-container-sas{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 40px;
        
    }
    .grid-item-sas{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 30px;
        align-items: center;
        justify-content: left;
        margin-bottom: 0px;
    }
    .sas-text{
        font-size: 16px;
        
    }
    .sas-text-second{
        font-size: 16px;
        margin-left: 0px;
    }
    .pujc-photo-app{
        width: 190%; 
        margin-left: 10%;
    }
    .todo-photo-app{
        width: 230%; 
    }
    
    .images-text-app{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        text-transform: uppercase;
        margin-left: 1%;
        font-size: 28px;
        font-weight: 700;
        margin-top: 105%;
    }
    .images-text-sec-app{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        margin-left: 23%;
        text-transform: none;
        margin-top: 105%;
        font-size: 20px;
        font-style: normal;
    }
    .images-text-third-app{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        position: absolute;
        margin-left: 13%;
        text-transform: none;
        margin-top: 105%;
        font-size: 20px;
        font-style: normal;
    }
    .graciano-image-app{
        margin-top: 73px;
        position: relative;
        display: flex;
        margin-left: 240px;
    }
    .grid-container-app{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        margin-top: 30pt;
        width: 85%;
    }
    .grid-item-app{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        width: 40%;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .grid-item-app-sec{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        font-size: 20px;
        font-weight: 400;
        margin-left: 530px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
    }
    .upper-text{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
@media only screen and (max-width: 486px){
    .services-app{
        width: 100%;
        top: 2436px;
        height: 1300px;
    }
    .services-app-main-title{
        width: 214px;
        font-size: 48px;
        margin-left: 5%;
        text-align: left;
    }
    .services-app-text{
        margin-right: 5%;
        width: 90%;
        font-size: 16px;
        margin-top: 25%;
        margin-left: 5%;
    }
    .plus-border-app{
        display: none;
    }
    .plus-text-app{
        display: none;
    }
    
    .grid-container-sa{
        display: grid;
        margin-top: 0pt;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 0%;
        height: 40pt;
        margin-top: 70pt;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .grid-item-sa{
        display: inline-grid;
        top: 40px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0pt;
        height: 30pt;
        justify-content: left;
        text-align: left;
    }
    .sa-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
    }
    
    
    .grid-container-sas{
        display: grid;
        width: 100%;
        margin-left: 0%;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        text-align: center;
        align-items: center;
        margin-top: 40px;
    }
    .grid-item-sas{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 88%;
        height: auto;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
    }
    .sas-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .sas-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
.grid-container-app{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-left: 10%;
    margin-top: 60pt;
    width: 75%;
}
.grid-item-app{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: auto;
    width: 50%;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;

}
.grid-item-app-sec{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    font-weight: 400;
    margin-left: 530px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.upper-text{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}  

.pujc-photo-app{
    width: 200%; 
    height: 300px;
    margin-left: 0%;
}
.todo-photo-app{
    width: 200%;
    height: 300px;
    margin-top: 10px; 
}

.images-text-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    text-transform: uppercase;
    margin-left: 0px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 400px;
}
.images-text-sec-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 150px;
    text-transform: none;
    margin-top: 400px;
    font-size: 16px;
    font-style: normal;
}
.images-text-third-app{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: absolute;
    margin-left: 80px;
    text-transform: none;
    margin-top: 400px;
    font-size: 16px;
    font-style: normal;
}
}