.Services-services{
    position: absolute;
    width: 1440px;
    height: 1324px;
    margin-left: 0px;
    top: 1462px;
    background: #F5F5F5;
}
.Services-services-main-title{
    position: absolute;
    width: 1053px;
    height: 96px;
    font-size: 96px;
    left: 240px;
    margin-top: 117px;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
    1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;    
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
/* identical to box height, or 140px */
}
.plus-border-services{
    border-radius: 1000px;
    background-color:#FF4747;
    font-size: 48px;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;  
    Width: 139px;
    Height: 139px;
    text-align:justify;
    margin-left: 1270px;
    margin-top: 60px;
    font-weight: 700;
    position: absolute;
    display:flex;
    justify-items:auto;
    opacity: 0.9;
}
.plus-text-services{
    margin-left: 40px;
    margin-top: 40px;
}
.services-text{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-right: 265px;
    height: 215px;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    line-height: 180%;
    color: #181818;
    width: 801px;
    margin-top: 350px;
    margin-left: 462px;
}
.video-services{
    position: absolute;
    left: 462px;
    top: 629px;
}
.grid-container-ss{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 593px;
    text-align: center;
    
}
.grid-item-ss{
    display: inline-grid;
    top: 40px;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    margin-top: 564px;
    align-items: center;
    justify-content: left;
}
.ss-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
}
.grid-container-sss{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-left: 593px;
    text-align: center;
    margin-top: 40px;
    
}
.grid-item-sss{
    display: inline-grid;
    justify-content: center;
    background-color: #F5F5F5;
    text-align: center;
    height: 59px;
    align-items: center;
    justify-content: left;
    margin-bottom: -15px;
}
.sss-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
}
.sss-text-second{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 30px;
}
@media only screen and (max-width:786px) {
    .Services-services{
        width: 100%;
    }
    .Services-services-main-title{
        width: 90%;
        font-size: 72px;
        left: 5%;
    }
    .plus-border-services{
        display: none;
    }
    .plus-text-services{
        margin-left: 40px;
        margin-top: 40px;
    }
    .services-text{
        margin-right: 5%;
        height: 215px;
        font-size: 24px;
        width: 90%;
        margin-left: 5%;
    }
    .video-services{
        position: absolute;
        left: 5%;
        top: 900px;
    }
    .grid-container-ss{
        display: grid;
        margin-top: 20pt;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin-left: 5%;
        text-align: center;
        
    }
    .grid-item-ss{
        display: inline-grid;
        top: 40px;

    }
    .ss-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
    }
    .grid-container-sss{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-left: 5%;
        text-align: center;
        margin-top: 40px;
        
    }
    .grid-item-sss{
        display: inline-grid;
        justify-content: center;
        background-color: #F5F5F5;
        text-align: center;
        height: 59px;
        align-items: center;
        justify-content: left;
        margin-bottom: 10px;
    }
    .sss-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        
    }
    .sss-text-second{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        margin-left: 30px;
    }
    
    
}