/*
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0%;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
}
*/

nav{
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    position: relative;
    width: 100%;

}
nav ul{
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    position: relative;
    width: 100%;
}
nav ul li{
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    position: relative;
    width: 100%;

}
a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: #000;
    font-variant: small-caps;
    font-family: 'Montserrat';
    text-align: center;
    position:relative;

  }
.header-logo{
    position:absolute;
    width: 181px;
    height: 44px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    color: #FF4747;
    text-decoration: none;
}

/*    text-align: center;
    align-items: center;
*/