.Footer {
    width: 1236px;
    height: 1351px;
    background-color: #181818;
    margin: 0 auto;    
    border-radius: 40px 40px 0px 0px;
    display: flex;
    font-family: Montserrat;
    color: white;
    margin-bottom: 0;

    position: absolute;
    width: 1236px;
    /*left: 102px;*/
    left: 260px;
}

.Footer-Main {
    width: 1076px;
    height: 1159px;
    
    margin: 50px auto;
   
}

.Upper-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Footer h2 {
    text-align: left;
    margin-bottom: 58px;
    font-family: Montserrat;
    font-size: 64px;
    text-transform: uppercase;
    color: #181818;
    text-shadow: 1px 0 #F5F5F5, -1px 0 #F5F5F5, 0 1px #F5F5F5, 0 -1px #F5F5F5,
             1px 1px #F5F5F5, -1px -1px #F5F5F5, 1px -1px #F5F5F5, -1px 1px #F5F5F5;
}

.Upper-Footer-left {
    width: 100%;
    height: 100%;
}

.Upper-Footer-right {
    width: 100%;
    height: 100%;
    margin-top: -400px;
}
/*pridan margin*/
.Upper-Footer-left-text{
    margin-top: 136px;
}

.Upper-Footer input, textarea {
    width: 458px;
    height: 56px;
    display: flex;
    cursor: text;
    background-color: transparent;
    margin-top: 10px;
    font-size: 20px;
    font-family: Montserrat;
    color: #F5F5F5;
}

input, select {
    border: 0;
    outline: 0;
    border-bottom-width: 1px;
    border-bottom: 1px solid white;
    border-bottom-color: white ;
    color: white;

}


.Footer-checkbox {
    display: flex;
}

.Footer-checkbox label{
    margin: 27px 0 0 10px;

}

input[type='checkbox'] {
    width: 30px;
    margin-bottom: 44px;
}

.Upper-Footer-left .button {
    color: white;
    font-size: 36px;
    width: 462px;
    height: 78px;
    border: 1px solid white;
    margin-right: 80px;
    border-radius: 20px;
    background-color: transparent;
}

.Footer-Line {
    width: 1076px;
    margin-top: 64px;
    border: 1px solid #F5F5F5;
    opacity: 0.6;
}


/************* LOWER FOOTER *****************/

.Lower-Footer {
    display: flex;
    height: 400px;
    margin-top: 61px;
}

.Lower-Footer-left {
    width: 100%;
    font-size: 24px;
    text-align: left;
    font-weight: 300;
}
/*přidán margin*/
.Lower-Footer-left-text{
    margin-top: 148px;
}

.Lower-Footer-left h2 {
    color: #181818;
    text-shadow: 1px 0 #F5F5F5, -1px 0 #F5F5F5, 0 1px #F5F5F5, 0 -1px #F5F5F5,
             1px 1px #F5F5F5, -1px -1px #F5F5F5, 1px -1px #F5F5F5, -1px 1px #F5F5F5;
}

.Lower-Footer-left p {
    padding-bottom: 40px;
}

.Lower-Footer-right {
    width: 100%;
    margin-top: 8px;
    
}

.Lower-Footer-right a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 44px;
}
.Lower-Footer-right-text{
    margin-top: 134px;
}

.First-Line-Navigation {
    text-align: right;
}

.Second-Line-Navigation {
    margin-top: 40px;
    text-align: right;
}

.Footer-Red-Text {
    color: #FF4747 !important;
}



/************** POST FOOTER ****************/
.Post-Footer-up {
    margin-bottom: 30px;
}

.Post-Footer-down {
    margin-top: 44px;
}

.Post-Footer-up a {
    margin: 0 37px 0;
}
.Post-Footer-down {
    display: flex;
    justify-content: center;
    text-align: left;
}

.Post-Footer-down p {
    margin: 0 40px;
    font-size: 14px;
}
.footer-image{
    width: 200px;
    height: 270px;
    margin-left: -200px;
    margin-top: -30px;
}
.upper-right-text{
    width: 124px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: right;
    text-align: right;
    color: #F5F5F5;
    margin-left: 400px;
    margin-top: -70px;
}
.upr{
    margin-top: -180px;
}
.upper-right-text-low{
    width: 338px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: right;
    text-align: right;
    color: #F5F5F5;
    margin-left: 750px;
    text-transform: uppercase;
    margin-top: 0px;
}