.App {
  text-align: center;
}
.footer-main{
  margin-top: 678px;
}
.footer-about-us{
  margin-top: 3006px;
}
.footer-our-work{
  margin-top: 5252px;
}
.footer-services{
  margin-top: 604px;
}
.switcher-main{
  margin-top: 3213px;
}
.switcher-services{
  margin-top: 106px;
}
.switcher-services-sec{
  margin-top: 146px;
}
.header-graciano{
  background-color: #181818;
}
.footer-graciano{
  margin-top: 6389px;
}
.footer-services-sec{
  margin-top: 650px;
}
@media only screen and (max-width: 786px) {
  .switcher-main{
    display: none;
  }
  .footer-main{
    margin-top: 3178px;
  }
  .footer-about-us{
    margin-top: 5296px;
  }
  .footer-our-work{
    margin-top: 5052px;
  }
  .switcher-services{
    display: none;
  }
  .switcher-services-sec{
    display: none;
  }
  .footer-services-sec{
    margin-top: 250px;
  }
}