.App {
  text-align: center;
}
.footer-main{
  margin-top: 778px;
}
.footer-about-us{
  margin-top: 3006px;
}
.footer-our-work{
  margin-top: 5252px;
}
.footer-services{
  margin-top: 604px;
}
.switcher-main{
  margin-top: 3513px;
}
.switcher-services{
  margin-top: 106px;
}
.switcher-services-sec{
  margin-top: 146px;
}
.header-graciano{
  background-color: #181818;
}
.footer-graciano{
  margin-top: 10589px;
}
.footer-services-sec{
  margin-top: 650px;
}

@media only screen and (max-width: 1500px) {
  .footer-graciano{
    margin-top: 11589px;
  }
  .switcher-main{
    display: none;
  }
  .footer-main{
    margin-top: 3500px;
  }
}

@media only screen and (max-width: 786px) {
  .switcher-main{
    display: none;
  }
  .footer-main{
    margin-top: 1978px;
  }
  .footer-about-us{
    margin-top: 5296px;
  }
  .footer-our-work{
    margin-top: 5052px;
  }
  .switcher-services{
    display: none;
  }
  .switcher-services-sec{
    display: none;
  }
  .footer-services-sec{
    margin-top: 250px;
  }
  .footer-services{
    margin-top: 45%;
  }
  .footer-graciano{
    margin-top: 8589px;
  }
}