.App {
  text-align: center;
}
.footer-main{
  margin-top: 4578px;
}
.footer-about-us{
  margin-top: 3006px;
}
.footer-our-work{
  margin-top: 5252px;
}
.footer-services{
  margin-top: 604px;
}
.switcher-main{
  margin-top: 4013px;
}
.switcher-services{
  margin-top: 106px;
}
.switcher-services-sec{
  margin-top: 146px;
}
.header-graciano{
  background-color: #181818;
}
.footer-graciano{
  margin-top: 10589px;
}
.footer-services-sec{
  margin-top: 650px;
}

@media only screen and (max-width: 1000px) {
  .footer-graciano{
    margin-top: 11589px;
  }
  .switcher-main{
    display: none;
  }
  .footer-about-us{
    margin-top: 2700px;
  }
  .footer-services{
    margin-top: 200px;
  }
  .switcher-services{
    margin-top: 200px;
    display: none;
  }
  .switcher-services-sec{
    margin-top: 200px;
    display: none;
  }
  .footer-services-sec{
    margin-top: 0px;
  }
  .footer-main{
    margin-top: 3000px;
  }
  .footer-our-work{
    margin-top: 7200px;
  }
}

@media only screen and (max-width: 486px) {
  
  .switcher-main{
    margin-top: 2000px;
  }
  .footer-main{
    margin-top: 1978px;
  }
  .footer-about-us{
    margin-top: 3396px;
  }
  .footer-our-work{
    margin-top: 4852px;
  }
  .switcher-services{
    display: none;
  }
  .switcher-services-sec{
    display: none;
  }
  .footer-services-sec{
    margin-top: 250px;
  }
  .footer-services{
    margin-top: 200px;
  }
  .footer-graciano{
    margin-top: 5839px;
  }
}