* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: /*#EFEFEF;*/#F5F5F5;
    margin-top: 80px;
    /*width: 1440px;*/
    width: 90%;
    text-decoration: none;
}

.Banner {
    height: 70%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 117px;
    margin-top: 80px;
}

.Main-title {
    text-transform: uppercase;
    display: flex;
    text-align: left;
    margin-left: 5%;
    width: 90%;
    font-size: 96px;
    font-family: 'Halvar Breitschrift', sans-serif;
    line-height: 130px;
    letter-spacing: 3%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-bottom: 5%;
    margin-top: 166px;
}
.Main-title h2{
    font-size: 96px;
    text-transform: uppercase;
}


.red-text {
    color: #FF4747;
}


.changing-text::before {
    content: " bussines";
    /* animation: animate 3s infinite ease-in-out;  */
    animation-name: animate;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.03em;


}

@keyframes animate {
    0% {
        content: " bussines";
    }

    25% {
        content: " people" ;
    }

    50% {
        content: " práce ";
    }

    75% {
        content: " growing" ;
    }
}

.changing-text {
    font-size: 110px;
    font-family: 'halvar', sans-serif;

    color: #F5F5F5;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
             
     text-transform: uppercase;
}

.title {
    width: 50%;
    text-align: left;   
    margin-left: 60%;
    top: auto;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 43px;
    margin-top: 30%;
}

.Get-in-touch.button {
    margin-top: 64px;
    margin-left: 47%;
    width: 55%;
}

.Get-in-touch .text{
    color: #181818;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 57px;
    margin-right: 42px;
    width: auto;

}

.Get-in-touch a {
    text-decoration: none;
}

.Arrows-down {
    text-align: left;
    padding-top: 118px;
    margin-left: 102px;
}
.got-solution.title {
    position: absolute;
    width: 1234px;
    height: 117px;
    left: 102px;
    top: 354px;

    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0px;
    text-align: center;
    /* identical to box height */

    text-align: center;

    color: #EFEFEF;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
}
@media only screen  and (max-width: 1000px){
    .Banner{
    margin-left: 40px;
    }
    .title {
    width: 100%;
    text-align: left;   
    margin-left: 10%;
    top: auto;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 43px;
    margin-top: 60%;
}

.Main-title {
    margin-left: 40px;
    width: 95%;
    font-size: 46px;
    line-height: 100%;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-bottom: 5%;
    margin-top: 166px;
}
.Main-title h2{
    font-size: 46px;
    width: 90%;
    line-height: 140%;
    text-transform: uppercase;
}
.changing-text {
    font-size: 66px;
}

.title {
    width: 498px;
    text-align: left;   
    margin-left: 157px;
    top: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 203px;
}

.Get-in-touch.button {
    margin-top: 24px;
    margin-left: 257px;
    width: 75%;
}

.Get-in-touch .text{
    color: #181818;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 57px;
    margin-right: 42px;
    width: auto;

}

.Get-in-touch a {
    text-decoration: none;
}

.Arrows-down {
    text-align: left;
    padding-top: 118px;
    margin-left: 40px;
}
}
@media only screen  and (max-width: 486px){

    .Main-title {
        text-transform: uppercase;
        display: flex;
        text-align: left;
        margin-left: 15%;
        width: 70%;
        font-size: 96px;
        font-family: 'Halvar Breitschrift', sans-serif;
        line-height: 36px;
        letter-spacing: 3%;
        font-weight: 500;
        font-style: normal;        
    }
    .Main-title h2{
        text-align: center;
        font-size: 36px;
        margin-top: 0%;
        text-transform: uppercase;
    }
    .changing-text {
        font-size: 48px;
        line-height: 48px;
        margin-top: 8px;
    }
    .Banner {
        margin-left: 0%;
        height: 497px;
        margin-bottom: 5%;
    }
    .title {
        width: 282px;
        text-align: left;   
        margin-left: 70px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 208px;
    }
    
    .Get-in-touch.button {
        margin-top: 24px;
        margin-left: 40px;
        width: 100%;
        text-decoration: none;
    }
    
    .Get-in-touch .text{
        font-size: 24px;
        line-height: 43px;
        border-bottom: none;
        margin-right: 0;
        width: 100%;
        display: inline-block;
        text-decoration: none;
    }
    
    .Get-in-touch a {
        text-decoration: none;
        width: 100%;
    }
    .arrow-git{
        margin-left: 210px;
        width: 40%;
        display: inline-block;
        top: -30px;
        position: relative;
    }
    
    .Arrows-down {
        display: none;
    }
}
