* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFEF;
}

.Banner {
    width: 1440px;
    height: 794px;
    
    margin: 0 auto;
    padding-left: 102px;
    padding-top: 80px;
}

.Main-title {
    width: 1185px;
    text-transform: uppercase;
    display: flex;
    text-align: left;
}



.Main-title h2{
    font-size: 96px;
    font-family: montserrat ;
}

.red-text {
    color: #FF4747;
}


.changing-text::before {
    content: " bussines";
    /* animation: animate 3s infinite ease-in-out;  */
    animation-name: animate;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes animate {
    0% {
        content: " bussines";
    }

    25% {
        content: " people" ;
    }

    50% {
        content: " práce ";
    }

    75% {
        content: " growing" ;
    }
}

.changing-text {
    font-size: 110px;

    color: #EFEFEF;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
             
     
}

.title {
    width: 730px;
    text-align: left;   
    margin-left: 608px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 43px;
}

.Get-in-touch.button {
    margin-top: 64px;
    text-align: right;
    margin-right: 102px;
}

.Get-in-touch .text{
    color: #181818;
    font-family: Montserrat;
    font-size: 32px;
    line-height: 57px;
    border-bottom: 1px solid;
    margin-right: 42px;
}

.Get-in-touch a {
    text-decoration: none;
}

.Arrows-down {
    text-align: left;
    padding-top: 118px;
}





.got-solution.title {
    position: absolute;
    width: 1234px;
    height: 117px;
    left: 102px;
    top: 354px;

    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0px;
    text-align: center;
    /* identical to box height */

    text-align: center;

    color: #EFEFEF;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
}
