* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Banner {
    width: 100%;
    height: 679px;
    background: #EFEFEF;
}

.title {
    text-transform: uppercase;
}

.project.title{
    display: flex;
}

.got-project.main-title-container {
    height: 332px;
}

/* PROJECT TITLES */
.project.title :first-child{
    position: absolute;
    width: 247px;
    height: 117px;
    left: 102px;
    top: 173px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;

    display: flex;
    align-items: center;
    color: #FF4747;
}

.project.title :nth-child(2) {
    position: absolute;
    width: 404.38px;
    height: 332.42px;
    left: 349px;
    top: 22px;
}

.project.title :nth-child(3) {
    position: absolute;
    width: 551px;
    height: 117px;
    left: 787px;
    top: 173px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FF4747;
}

.got-solution.title {
    position: absolute;
    width: 1234px;
    height: 117px;
    left: 102px;
    top: 354px;

    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0px;
    text-align: center;
    /* identical to box height */

    text-align: center;

    color: #EFEFEF;
    text-shadow: 1px 0 #181818, -1px 0 #181818, 0 1px #181818, 0 -1px #181818,
             1px 1px #181818, -1px -1px #181818, 1px -1px #181818, -1px 1px #181818;
}

.design-development {
    padding-top: 180px;
    
    Font-family: Montserrat;
    Font-style: Bold;
    Font-size: 40px;
    Line-height: 49px;
}